/* 
   UNIVERSAL SELECTOR
   Applies to all elements
*/
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
   BODY & BASIC STYLING
 */
body {
    background-color: #f4f9f9;
    color: #333;
    padding: 30px;
}

/* 
   ID SELECTOR (#)
   Targets a specific unique element
 */
#main-section {
    background-color: #d1f7c4;
    border: 2px solid #4CAF50;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}

/* 
   CLASS SELECTOR (.)
   Used for multiple elements
 */
.highlight-box {
    background-color: #fff3cd;
    border: 2px solid #ffc107;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

/*
   DESCENDANT SELECTOR (parent child)
   Styles elements nested inside another
*/
.article p {
    background-color: #e3f2fd;
    padding: 10px;
    border-left: 5px solid #2196F3;
    margin: 10px 0;
}

/* 
   GROUP SELECTOR (h1, h2)
   Applies same style to multiple tags
*/
h1, h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 10px;
}

/* 
   FOOTER STYLING
    */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
    margin-top: 30px;
    border-top: 5px solid #4CAF50;
}
