/* External CSS File */

body {
    background-color: #f2f2f2;
    font-family: Verdana, sans-serif;
    margin: 30px;
}

.external-box {
    background-color: white;
    border: 2px solid #4CAF50;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.external-box h3 {
    color: #4CAF50;
    text-align: center;
}
